#btn-mas2 {
    display: none;
}

.container4 {
    position: fixed;
    bottom: 20px;
    left: 20px;
    box-sizing: border-box;
}

.redes2 a,
.btn-mas2 label {
    display: block;
    text-decoration: none;
    background: #cc2b2b;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
}

.redes2 a:hover {
    background: #fff;
    color: #cc2b2b;
}

.redes2 a {
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}

#btn-mas2:checked~.redes2 a {
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}

.btn-mas2 label {
    cursor: pointer;
    background: #f44141;
    font-size: 23px;
}

#btn-mas2:checked~.btn-mas2 label {
    transform: rotate(135deg);
    font-size: 25px;
}


/* fichero interno*/

.modal {
    width: 315px;
    height: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    bottom: 75px;
    left: 50px;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-mas2:checked~.modal {
    opacity: 1;
    visibility: visible;
}

.contenedor {
    width: 350px;
    height: 320px;
    margin: auto;
    background: #fff;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    transition: all 500ms ease;
    position: relative;
    transform: translateY(-30%);
}

#btn-mas2:checked~.modal .contenedor {
    transform: translateY(0%);
}

.contenedor header {
    padding: 10px;
    background: #db8046;
    color: #fff;
}

.contenedor label {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.contenido {
    width: 100%;
    padding: 10px;
}

.contenido img {
    width: 25px;
    border-radius: 50%;
}

.contenido textarea {
    min-height: 25px;
    max-height: 25px;
    max-width: 90%;
    min-width: 90%;
    margin-top: 35%;
}

.contenido h3 {
    margin-bottom: 10px;
}

.contenido p {
    margin-bottom: 7px;
}

#btn-mas2 {
    display: none;
}

.lbl-modal {
    background: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .contenedor {
        width: 95%;
    }
}